<div class="row center-xs home__cta">
  <div class="col-xs-11 col-sm-9">
    <h3 class="home__heading mb-10 col-xs-12">
      We are a community based help service!
    </h3>
    <div class="home__paragraph mb-20 col-xs-12 p-0">
      <p>
        Our product solves the problem with the lack of fast, context-specific
        and most importantly - untampered help out there.
      </p>
      <p>
        We solve that problem for our users by providing them an instant and
        specific help from people that may have already walked the same path and
        bought the same product.
      </p>
      <p>
        So next time, when you visit a site and you can't find a review or an
        answer that satisfies your information needs, you can open up our chat
        widget and ask a non-formal question to one of our helpers.
      </p>
    </div>
    <div class="row row--no-margin start-xs">
      <a class="btn btn--elevated btn--inverted btn home__cta-button" href="#">
        TRY IT FREE
      </a>
      <button class="btn btn--elevated btn home__cta-button ml-20" tabindex="0">
        SIGN UP
      </button>
    </div>
  </div>
</div>
<div class="row center-xs home__search">
  <div class="col-xs-12 col-sm-9">
    <!-- sv-search -->
    <app-search></app-search>
  </div>
</div>
<div class="row center-xs home__products">
  <div class="col-xs-12 col-sm-10 row">
    <h3 class="home__heading home__heading--gray col-xs-12">
      Need help with any of these?
    </h3>
  </div>
</div>
<div class="row center-xs home__how-it-works middle-xs">
  <div class="col-xs-12 col-sm-9">
    <div class="how-does-it-work row row--no-margin middle-xs">
      <div class="col-sm-4">
        <h3 class="home__heading home__heading--gray mb-20 col-xs-12">
          How does it all work?
        </h3>
        <ul class="how-does-it-work__menu">
          <li
            class="how-does-it-work__menu-item btn btn--inverted btn--flat active"
          >
            For people who need help
          </li>
          <li class="how-does-it-work__menu-item btn btn--inverted btn--flat">
            For people who provide help
          </li>
          <li class="how-does-it-work__menu-item btn btn--inverted btn--flat">
            For shop owners
          </li>
        </ul>
      </div>
      <div class="how-does-it-work__slide col-sm-8 row center-xs middle-xs">
        <span
          class="how-does-it-work__slide-navigation how-does-it-work__slide-navigation--prev"
        >
        </span>
        <div
          class="how-does-it-work__slide-content row row--no-margin row--no-padding middle-xs"
        >
          <img
            class="how-does-it-work__slide-photo mr-20"
            src="assets/images/widget-marketing.png"
          />
          <p class="how-does-it-work__slide-text">
            So you finally decided to buy that new phone and found it in
            website, at a great price. However, you are still not sure and want
            to find out if its performance will be the same, two years ahead in
            time? If you ask the customer support of that website, they will
            surely somehow convince you that what you wanna buy is the perfect
            product. Imagine if you can ask somebody that has already purchased
            this exact same product, without leaving the site?
          </p>
        </div>
        <span
          class="how-does-it-work__slide-navigation how-does-it-work__slide-navigation--next"
        >
          <!-- <sv-svg name="arrow_left" _nghost-c2=""
              ><svg
                _ngcontent-c2=""
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="svg-icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use
                  _ngcontent-c2=""
                  xlink:href="https://www.swiftviews.com/home#arrow_left"
                ></use>
              </svg>
            </sv-svg> -->
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row center-xs home__mobile-cta">
  <div class="col-xs-9">
    <h3 class="home__heading home__heading--gray mb-20 col-xs-12">
      Are you already helping people?
    </h3>
    <div class="home__paragraph home__paragraph--gray mb-20 col-xs-8 p-0">
      <p>
        In case that you have already signed up as a helper, please download our
        applications below so you can provide better and faster help to those
        who need it.
      </p>
      <p>
        And if not, you can still do it from our platform or the applications
      </p>
      <p>Help and be helped!</p>
    </div>
    <div class="row row--no-margin">
      <a class="btn btn--elevated home__cta-button" href="#"> ANDROID </a>
      <a
        class="btn btn--elevated ml-20 home__cta-button home__cta-button--iOS"
        href="#"
      >
        iOS
      </a>
    </div>
  </div>
</div>
