<div
  class="row p-0 pl-10 pr-10 center-xs landing-header between-sm center-xs top-sm"
>
  <img class="logo" src="assets/images/puffin-white.png" tabindex="0" />
  <img
    class="mobile-logo"
    src="assets/images/puffin-only-logo.png"
    tabindex="0"
  />
  <nav class="landing__navigation row end-xs middle-xs col-xs">
    <a class="landing__navigation-item" href="#"> home </a>
    <a class="landing__navigation-item" href="#"> shop owners </a>
    <button
      class="ml-30 btn btn--elevated btn--inverted landing__navigation-button"
      tabindex="0"
    >
      login
    </button>
  </nav>
</div>
