<section class="search pos-relative">
  <form class="search__form ng-pristine ng-valid ng-touched" novalidate="">
    <input
      autocomplete="off"
      class="search__input ng-pristine ng-valid ng-touched"
      formcontrolname="searchTerm"
      name="searchTerm"
      type="text"
      placeholder="Search for any product you need help for..."
    />
  </form>
  <!---->

  <div class="products row center-xs search__results">
    <div class="col-xs-12 search__results--scroller">
      <!---->
    </div>
  </div>
</section>
